@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior:smooth;
}

header{
    max-width:1920px;
    width:100%;
    display:flex;
    justify-content: space-evenly;
    align-items:center;
}

.logo{
    width:5vw;
    height:5vh;
    margin-top:2px;
    margin-left:15px;
}

header ul{
    width:60vw;
    display:flex;
    justify-content: space-evenly;
    align-items:center;
}

header li{
    color:#9767A9;
    font-size:90%;
    font-weight: 900;
}

header li:hover{
    cursor: pointer;
    font-weight:bolder;
}

.container-Buscar{
    margin-right:30px;
}

input{
    border-radius: 10px;
    height:4vh;
    border-color: #9767A9;
}

input::placeholder{
    text-align: center;
    background-image: url(./assets/lupa.png);
    background-size:contain;
    background-repeat: no-repeat;
}

.container-Midias{
    display:flex;
    width:8vw;
    justify-content: space-between;
    align-items:center;
}

.fb{
    width:2vw;
}

.insta{
    width:2.1vw;
}

.yt{
    width:2.1vw;
}

.principalImagem{
    width:98.7vw;
    position:relative;
}

h1{
    position:absolute;
    bottom:35vh;
    left:20vh;
    width:40vw;
    color:white;
    font-size:80px;
    font-family: 'Playfair Display', serif;
}

.textoFotoPrincipal{
    position:absolute;
    bottom:41vh;
    left:63vw;
    font-weight: 400;
    font-size: 35px;
    width:34vw;
    color:white;
}

.container-Subtitulo{
    width:98.7vw;
    height:45vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top:-4px;
    background-color: #9767A9;
}

.subtitulo{
    display:flex;
    margin-left:-2vw;
    width:45vw;
    font-size:45px;
    font-family: 'Playfair Display', serif;
    color:white;
}

.textoSubtitulo{
    width:33vw;
    margin-top:4vh;
    margin-left:-2vw;
    color:white;
    font-weight: 300;
    line-height: 25px;
}

.primeiraImagem{
    width:32vw;
    position:relative;
    bottom:12vh;
    left:11vw;
}

.container-PrimeiroTexto{
    background-color: #9767A9;
    color:white;
    width:28vw;
    height:60vh;
    position:absolute;
    bottom:-128vh;
    left:13vw;
}

.textoPrimeiraImagem{
    width:18vw;
    margin-left:2vw;
    margin-top:3vh;
    margin-bottom:2vh;
    font-family: 'Playfair Display', serif;
    font-size:23px;
}

.container-PrimeiroTexto p{
    width:24vw;
    margin-left:2vw;
    font-size:13px;
    line-height:20px;
}

.segundaImagem{
    width:32vw;
    position:relative;
    bottom:37vh;
    left:54vw;
}

.container-SegundoTexto{
    width:26.5vw;
    height:55vh;
    background-color: #9767A9;
    color:white;
    position:absolute;
    bottom:-152vh;
    left:57vw;
}

.textoSegundaImagem{
    width:18vw;
    margin-left:1.5vw;
    margin-top:3vh;
    margin-bottom:2vh;
    font-family: 'Playfair Display', serif;
    font-size:23px;
}

.container-SegundoTexto p{
    width:24vw;
    margin-left:1.5vw;
    font-size:13px;
    line-height:20px;
}

.terceiraImagem{
    width:32vw;
    position:relative;
    bottom:11vh;
    left:11vw;
}

.container-TerceiroTexto{
    background-color: #9767A9;
    color:white;
    width:27vw;
    height:41vh;
    position:absolute;
    top:280vh;
    right:58vw;
}

.textoTerceiraImagem{
    width:14.5vw;
    margin-left:2vw;
    margin-top:3vh;
    margin-bottom:2vh;
    font-family: 'Playfair Display', serif;
    font-size:23px;
}

.container-TerceiroTexto p{
    width:24vw;
    margin-left:2vw;
    font-size:13px;
    line-height:20px;
}

.quartaImagem{
    width:32vw;
    position:relative;
    bottom:43vh;
    left:54vw;
}

.container-QuartoTexto{
    width:27vw;
    height:42vh;
    background-color: #9767A9;
    color:white;
    position:absolute;
    bottom:-260vh;
    left:56.5vw;
}

.textoQuartaImagem{
    width:26vw;
    margin-left:2vw;
    margin-top:3vh;
    margin-bottom:2vh;
    font-family: 'Playfair Display', serif;
    font-size:23px;
}

.container-QuartoTexto p{
    width:24vw;
    margin-left:2vw;
    font-size:13px;
    line-height:20px;
}

.quintaImagem{
    width:32vw;
    position:relative;
    bottom:32vh;
    left:11vw;
}

.container-QuintoTexto{
    background-color: #9767A9;
    color:white;
    width:28vw;
    height:52vh;
    position:absolute;
    top:371vh;
    right:58vw;
}

.textoQuintaImagem{
    width:18vw;
    margin-left:2vw;
    margin-top:3vh;
    margin-bottom:2vh;
    font-family: 'Playfair Display', serif;
    font-size:23px;
}

.container-QuintoTexto p{
    width:24vw;
    margin-left:2vw;
    font-size:13px;
    line-height:20px;
}

.sextaImagem{
    width:32vw;
    position:relative;
    bottom:48vh;
    left:54vw;
}

.container-SextoTexto{
    width:27vw;
    height:45vh;
    background-color: #9767A9;
    color:white;
    position:absolute;
    bottom:-366vh;
    left:57vw;
}

.textoSextaImagem{
    width:26vw;
    margin-left:2vw;
    margin-top:3vh;
    margin-bottom:2vh;
    font-family: 'Playfair Display', serif;
    font-size:23px;
}

.container-SextoTexto p{
    width:23vw;
    margin-left:2vw;
    font-size:13px;
    line-height:20px;
}

.setimaImagem{
    width:32vw;
    position:relative;
    bottom:41vh;
    left:11vw; 
}

.container-SetimoTexto{
    background-color: #9767A9;
    color:white;
    width:28vw;
    height:36vh;
    position:absolute;
    top:475vh;
    right:58vw;
}

.textoSetimaImagem{
    width:18vw;
    margin-left:2vw;
    margin-top:3vh;
    margin-bottom:2vh;
    font-family: 'Playfair Display', serif;
    font-size:23px;
}

.container-SetimoTexto p{
    width:23.5vw;
    margin-left:2vw;
    font-size:13px;
    line-height:20px;
}

.oitavaImagem{
    width:57vh;
    position:relative;
    bottom:48vh;
    left:57vw;
}

.muralFotos{
    width:80vw;
    height:93vh;
    flex-wrap: wrap;
    position:relative;
    bottom:94px;
    left:9.5vw;
}

.quadroRei{
    width:20vw;
    height:60.5vh;
    margin-bottom:63.5vh;

}

.quadroBeyonce{
    width:12vw;
    height:29vh;
    margin-bottom:31.5vh;
    margin-left:2vh;
    margin-bottom:95vh;
}

.quadroMichael{
    width:12vw;
    height:29vh;
    margin-left:-12.4vw;
    margin-bottom:-0.04vh;
    margin-bottom:63.5vh;
}

.quadroModeloComCigarro{
    height:60.5vh;
    margin-left:0.8vw;
    margin-bottom:63.5vh;
}

.quadroBlackPower{
    height:93vh;
    width:18vw;
    position:absolute;
    right:14vw;
}

.quadroTrancas{
    height:24vh;
    width:13vw;
    top:0vh;
    right:-0.2vw;
    position:absolute;
}

.quadroBarbaMarcada{
    height:66.2vh;
    width:13vw;
    top:27vh;
    right:-0.2vw;
    position:absolute;
}

.quadroAnaMaria{
    height:29vh;
    width:20vw;
    position:absolute;
    bottom:0vh;
    left:0vw;
}

.quadroTaisAraujo{
    height:29vh;
    width:12vw;
    position:absolute;
    bottom:0vh;
    left:21vw;
}

.quadroSnoppDog{
    height:29vh;
    width:13vw;
    position:absolute;
    bottom:0vh;
    left:34vw;
}

footer{
    background-color: #9767A9;
    width:100%;
}

.menuFinal{
    display:flex;
    height:17vh;
    justify-content: flex-end;
    align-items: center;
}

.container-PagAnterior{
    display:flex;
    width:7.5vw;
    height:7vh;
    color:white;
    font-size:15px;
}

.setaEsquerda{
    height:5vh;
}

.container-Topo{
    display:flex;
    width:7vw;
    height:7vh;
    color:white;
}

.setaCima{
    height:5vh;
}

footer a{
    text-decoration: none;
    scroll-behavior: smooth;
}

.container-ProxPagina{
    display:flex;
    width:10vw;
    height:7vh;
    color:white;
    margin-right:2px;
}

.setaDireita{
    height:5vh;
}